/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.border {
    border-radius: 8px;
}

/* Game container */
#game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #game-container.hidden {
    display: none;
  }
  
  #game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    perspective: 800px;
  }
  
  /* Cards */ 
  .game-card {
    height: 20rem;
    width: 20rem;
    margin: .5rem;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .65s;
    box-shadow: 0px 2px 4px gray;
  }
  
  .game-card figure {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .game-card figure h2 {
    animation: jello-horizontal 3s ease-in-out infinite both;
    animation-delay: 2s;
  }
  
  .game-card .front {
    background-color: #E63462;
  }
  
  .game-card .back {
    background-color: #C7EFCF;
    transform: rotateY(180deg);
  }
  
  @media (max-width: 800px) {
    .game-card {
      height: 150px;
      width: 150px;
    }
  }
  
  .game-card.flipped {
    transform: rotateY(180deg);
    background-color: #E63462;
  }

  /* Finish screen */
  #score-board {
    margin: 3rem 0 0;
    display: flex;
  }
  
  .score {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding: 0 2rem 0;
  }
  
  #score-board.hidden {
    visibility: hidden;
  }
  
  #win-screen {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(255, 111, 155, 0.95);

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    border-radius: 1rem;
  }
  
  #win-screen>* {
    line-height: 0;
    margin: 2.5rem;
  }

  #win-screen h3 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 5rem;
  }

  #win-screen .score.click-count {
    padding: 2rem;
    font-size: 2rem;
  }
  
  #win-screen.visible {
    visibility: visible;
    opacity: 1;
    transition: all 0.8s;
  }
  
  /* Replay button */
  #replay-button {
    font-family: 'Raleway', sans-serif;
    color: white;
    cursor: pointer;
    padding: 2rem;
    margin: 1rem;
    background-color: #E63462;
    border: 1px solid #E63462;
    border-radius: 1rem;
    box-shadow: 0px 0px 3px white;
    transition: all .3s ease-in-out;
  }
  
  #replay-button:hover {
    background-color: #f8f8ff;
    color: #E63462;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px white;
  }

  /*Pictures animations*/

  /* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  